body {
    margin: 0;
    padding: 0;
}

.scr-bg {
    width: 700px;
    margin: auto;
    padding-top: 0px;
    border-radius: 50px;
}

.scr-div {
    background-color: lightgray;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.scr-obj {
    font-family: cursive;
    font-size: 15px;
    padding: 20px;
}