
$bg-color : #E5B8F4;
$nav-color : #810CA8;
$btn-color : rgb(155, 184, 155);


*{
    margin: 0;
    overflow-x: hidden;
}


.main-div{
    background-color: $bg-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .link{
        text-decoration: none;
    }
    .logo-img{
        width: 40%;
        height: 40%;
    }
    .button{
        margin-top: 1rem;
        background-color: $btn-color;
        cursor: pointer;
        border-radius: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .auth{
        background-color: $bg-color;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        
    }

    form{
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        background-color: $nav-color;
        width: 25rem;
        height: 25rem;


        input{
            padding: 0.5rem;
            width: 10rem;
            border: none;
           
            border-bottom: 1px solid black;
        }

        
    }

    .danger-btn{
        background-color: red;
        color: white;
        border: 0;
        cursor: pointer;
        padding: 0.5rem;
        

        &:hover{
            background-color: white;
            border: 1px solid red;
            color: black;
        }
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100vw;
        clear: both;

        background-color: $nav-color;

        h1{
            color: white;
        }
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: 100%;

        .ctf-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .cert-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;

        .img-card{
            width: 30%;
        }
        .no-img-card{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .certificate{
        width: 30%;
    }

    .add-cert{

        form{
            
            margin: 1rem;
            background-color: $nav-color;
            width: 40rem;
            height: 40rem;
            input{
                padding: 1rem;
                border-radius: 0.2rem;
                width: 30rem;
            }

            .file-input{
                border: 0;
                padding: 2rem;
            }
        }
    }


    .footer{
        background-color: $nav-color;
        width: 100vw;
        height: 10rem;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}